{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Back to top button -->
{% for section in hero %}
{#  <div class="page-hero bg-image overlay-dark" style="background-image: url({% static '/assets/img/bg_image_1.jpg' %});">#}
  <div class="page-hero bg-image overlay-dark" style="background-image: url({{ section.image.url }});">
    <div class="hero-section">
      <div class="container text-center wow zoomIn">
        <span class="subhead">{{ section.heading }}</span>
        <h1 class="display-4">{{ section.title }}</h1>
        <a href="#" class="btn btn-primary">{{ section.consult_button }}</a>
      </div>
    </div>
  </div>
 {% endfor %}


  <div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-secondary text-white">
                <span class="mai-chatbubbles-outline"></span>
              </div>
              <p><span>Chat</span> with a doctors</p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-primary text-white">
                <span class="mai-shield-checkmark"></span>
              </div>
              <p><span>One</span>-Health Protection</p>
            </div>
          </div>
          <div class="col-md-4 py-3 py-md-0">
            <div class="card-service wow fadeInUp">
              <div class="circle-shape bg-accent text-white">
                <span class="mai-basket"></span>
              </div>
              <p><span>One</span>-Health Pharmacy</p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page-section -->

     {% for health in health_center %}
    <div class="page-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1>{{ health.title|safe  }} </h1>
            <p class="text-grey mb-4">{{ health.description|safe }}</p>
            <a href="{% url 'about_us' %}" class="btn btn-primary">Learn More</a>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
            <div class="img-place custom-img-1">
              <img src="{{ health.image.url }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .bg-light -->
  {% endfor %}
  </div> <!-- .bg-light -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Our Doctors</h1>

      <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
          {% for doctor in doctors %}
        <div class="item">
          <div class="card-doctor">
            <div class="header">
              <img src="{{ doctor.image.url }}" alt="">
              <div class="meta">
                <a href="#"><span class="mai-call"></span></a>
                <a href="#"><span class="mai-logo-whatsapp"></span></a>
              </div>
            </div>
            <div class="body">
              <p class="text-xl mb-0">{{ doctor.name }}</p>
              <span class="text-sm text-grey">{{ doctor.department }}</span>
            </div>
          </div>
        </div>
          {% endfor %}

      </div>
    </div>
  </div>

  <div class="page-section bg-light">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Latest News</h1>
      <div class="row mt-5">
           {% for blog in blogs %}
        <div class="col-lg-4 py-2 wow zoomIn">

          <div class="card-blog">
            <div class="header">
              <div class="post-category">
                <a href="#">{{ blog.disease }}</a>
              </div>
              <a href="{% url 'detail' blog.id %}" class="post-thumb">
                <img src="{{ blog.image.url }}" alt="">
              </a>
            </div>
            <div class="body">
              <h5 class="post-title"><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h5>
              <div class="site-info">
                <div class="avatar mr-2">
                  <div class="avatar-img">
                    <img src="{{ blog.author_image.url }}" alt="">
                  </div>
                  <span>{{ blog.author_name }}</span>
                </div>
                <span class="mai-time"></span> {{ blog.admitted_time }}
              </div>
            </div>
          </div>

        </div>
          {% endfor %}

        <div class="col-12 text-center mt-4 wow zoomIn">
          <a href="{% url 'news' %}" class="btn btn-primary">Read More</a>
        </div>

      </div>
    </div>
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Make an Appointment</h1>

      <form  method="POST" action="{% url 'appointment'%}" class="main-form" >
          {%csrf_token%}
        <div class="row mt-5 ">
          <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
            <input type="text" name="full_name" class="form-control" placeholder="Full name">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInRight">
            <input type="text"  name="email" class="form-control" placeholder="Email address..">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
            <input type="date" class="form-control">
          </div>
          <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
            <select name="departments" id="departement" class="custom-select">
              <option value="general">General Health</option>
              <option value="cardiology">Cardiology</option>
              <option value="dental">Dental</option>
              <option value="neurology">Neurology</option>
              <option value="orthopaedics">Orthopaedics</option>
            </select>
          </div>
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="text" name="phone" class="form-control" placeholder="Number..">
          </div>
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <textarea name="message" id="message" class="form-control" rows="6" placeholder="Enter message.."></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Submit Request</button>
      </form>
    </div>
  </div> <!-- .page-section -->

{% endblock %}
  
